/solution/Project2/*
/solution/Project2

/solution/Debug/*
/solution/Debug

/solution/Release/*
/solution/Release

/solution/x64/*
/solution/x64

/.vs/*
/.vs

/*/.vs/*
/*/.vs

/.solution/Project2.vcxproj.user
